.container {
  width: 100%;
  height: 120vh;
  position: relative;
  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.tooltip {
  max-width: 250px;
  min-width: 100px;
  position: absolute;
  text-align: center;
  font: 500 0.8rem 'Cinzel', serif;
  background: #242424;
  color: white;
  border: 0;
  padding: 0 5px;
  border-radius: 2%;
  pointer-events: none;
  h4 {
    font-size: 1rem;
  }
}