@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
.App {
  text-align: center;
  font-family: 'Cinzel', serif;
  background-image: url("./background.jpg");
  background-size: cover;
}

.App-header {
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #282c34;
  background-color: white;
}

.Filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
}