@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
body {
  margin: 0;
  font-family: 'Cinzel', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./background.jpg");
}
.app {
  text-align: center;
}

.header {
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #282c34;
  background-color: white;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
}

select {
  font: 500 1rem 'Cinzel', serif;
  line-height: 1.5;
  padding: 1em 0.5em;
  letter-spacing: 0.05rem;
  cursor: pointer;
  border: solid 1px white;
  &:hover {
    border: solid 1px #282c34;
  }
}

option:checked {
  color: white;
  background-color: #565b64;
}

.button {
  background: none;
  color: #282c34;
  cursor: pointer;
  line-height: 1.5;
  padding: 1em 1em;
  letter-spacing: 0.05rem;
  border: solid 1px white;
  font: 500 1rem 'Cinzel', serif;
  &:hover, &:focus {
    border: solid 1px #282c34;
  }
}
